<main>
    <div class='profile'>
        {{{back}}}
        <div class='profile__info'>
            {{#if isLoading }}
                <h1>Загружаем...</h1>
            {{ else }}
            <div>
                {{{ form }}}
                <div class="profile__form-footer">
                    {{#each buttons}}
                        {{{ this }}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</main>

