<nav class="nav">
    <ul class="nav__list">
        <li class="nav__list-item"><span class="nav__link" onclick="goTo('SIGNIN')">SIGNIN</span></li>
        <li class="nav__list-item"><span class="nav__link" onclick="goTo('SIGNUP')">SIGNUP</span></li>
        <li class="nav__list-item"><span class="nav__link" onclick="goTo('CHAT')">CHAT</span></li>
        <li class="nav__list-item"><span class="nav__link" onclick="goTo('PROFILE')">PROFILE</span></li>
        <li class="nav__list-item"><span class="nav__link" onclick="goTo('NOT_FOUND')">404</span></li>
        <li class="nav__list-item"><span class="nav__link" onclick="goTo('SERVER_ERROR')">500</span></li>
    </ul>
</nav>