@import "../../styles/variables.pcss";

.button {
    font-size: 12px;
    background-color: $primary;
    color: #fff;
    border: none;
    outline: none;
    padding: 4px;
    border-radius: 5px;
    transition: 0.175s;

    &:hover {
        cursor: pointer;
        background-color: $darken-primary;
    }
}
