{{> Navigation }}
<div class='profile'>
    <sidebar class='profile__back-button-wrapper'>
        <button class='profile__back-button' onclick="goTo('PROFILE')"></button>
    </sidebar>
    <div class='profile__info'>
        <form name='settings' class='profile__form'>
            <div class="profile__form-body">
                {{# each fields }}
                    {{{ this }}}
                {{/ each }}
            </div>
            <div class="profile__form-footer">
                <button class='profile__form-save-button'>Сохранить</button>
            </div>
        </form>
    </div>
</div>
