<main>
    <div class='profile'>
        <aside class='profile__back-button-wrapper'>
            <button class='profile__back-button' onclick="goTo('PROFILE')"></button>
        </aside>
        <div class='profile__info'>
            {{{ form }}}
        </div>
    </div>
</main>
