.wrapper {
    padding: 0 10px;
    transition: all .175s;

    &:hover {
        cursor: pointer;
        border-color: #e4edfd;
        background-color: #e4edfd;
    }
}

.label {
    display: block;
    text-align: center;

    &-wrapper {
        border-top: 1px solid #eaeaea;
        padding: 12px 0;
    }
}
