@import '../../styles/variables.pcss';

.link {
    align-self: center;
    text-align: center;
    color: $primary;
    line-height: 100%;
    font-weight: 500;
    font-size: 11px;
    margin-top: 14px;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        color: $darken-primary;
    }
}
